@font-face {
    font-family: Vazir;
    font-style: normal;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot') format('embedded-opentype'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/Vazir.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/Vazir.ttf') format('truetype');
}

@font-face {
    font-family: Vazir-B;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Vazir-Bold.ttf');
    src: url('../fonts/Vazir-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: Lalezar-Regular;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Lalezar-Regular.ttf');
    src: url('../fonts/Lalezar-Regular.otf');
}
.font-family-Lalezar-Regular {
    font-family: Lalezar-Regular !important;
}
html{
    overflow-x: hidden;
}
body {
    direction: rtl;
    text-align: right;
    font-family: Vazir, serif;
    font-size: 1.0rem;
    background-color: #f5f5f5;
    color: #515151;
    overflow-x: hidden;

}

a,
a:hover {
    color: #515151;
    text-decoration: none;
    transition: all .2s ease-out;
    font-family: Vazir, serif ;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.direction-ltr {
    direction: ltr;
}

.direction-rtl {
    direction: rtl;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

h1, .h1 {
    font-size: 29px;
    font-family: Vazir-B , Vazir , serif ;
}

h2, .h2 {
    font-size: 25px;
    font-family: Vazir-B, Vazir, serif  ;
}

h3, .h3 {
    font-size: 21px;
    font-family: Vazir-B , Vazir, serif ;
}

h4, .h4 {
    font-size: 18px;
    font-family: Vazir-B , serif;
}

h5, .h5 {
    font-size: 14px;
    font-family: Vazir-B, serif ;
}

h6, .h6 {
    font-size: 12px;
    font-family: Vazir-B, serif ;
}
.entry-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    font-family: Vazir-B, serif ;
}
/* --- font size ----*/
.font-size-18 {
    font-size: 18px !important;
}
.font-size-16{
    font-size: 16px !important;
}
.font-size-14 {
    font-size: 14px !important;
}
.font-size-12 {
    font-size: 12px !important;
}
.font-size-10 {
    font-size: 10px !important;
}
.font-size-9 {
    font-size: 9px !important;
}
.wrapper {
    height: 100%;
}
footer {

}
button,
input,
optgroup,
select,
textarea {
    font-family: Vazir;
}

@media (min-width: 1200px) {

}


/* ----------------- Start Header */
header.main-header .logo-area {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 0;
    -ms-flex: 0 0 155px;
    flex: 0 0 155px;
    max-width: 155px;
    max-height: 100%;
}

header.main-header .logo-area a {
    display: block;
}

header.main-header .logo-area img {
    height: 56px;
    float: right;
    margin-top: 2px;
    width: 100%;
}

header.main-header .search-area form.search {
    position: relative;
}


/* footer */
footer.main-footer {
    margin-top: 50px;
    background: #eceff1;
}

footer.main-footer .back-to-top {
    text-align: center;
    font-size: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #cfd8dc;
    padding: 10px 0;
    margin-bottom: 30px;
}

footer.main-footer .back-to-top a {
    color: #515151 !important;
}

footer.main-footer .back-to-top .icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: hsla(0, 0%, 75%, .41);
    color: #fff;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 46px;
}

footer.main-footer .footer-services {
    padding-bottom: 30px;
    border-bottom: 1px solid #cfd8dc;
}

footer.main-footer .footer-services .service-item {
    text-align: center;
    position: relative;
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
    color: #606060;
    letter-spacing: .2px;
    padding-bottom: 20px;
    margin: auto;
}

footer.main-footer .footer-services .service-item img {
    width: 58px;
    height: 58px;
    margin-bottom: 7px;
}

@media (max-width: 576px) {
    .footer-services .service-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 5px;
    }
}

footer.main-footer .footer-widgets .widget-menu {
    background: 0 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 15px;
}





footer.main-footer .footer-widgets .widget-menu .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer.main-footer .footer-widgets .widget-menu .footer-menu li {
    line-height: 30px;
}

footer.main-footer .footer-widgets .newsletter {
    margin-top: 30px;
}

footer.main-footer .footer-widgets .newsletter form {
    position: relative;
}

footer.main-footer .footer-widgets .newsletter form .form-control {
    font-family: Vazir;
    font-size: 13px;
    border-radius: 7px;
    color: #515151;
    padding: 7px !important;
    line-height: 2 !important;
    box-shadow: none;
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #979898;
    transition: all .2s ease-out;
}

footer.main-footer .footer-widgets .newsletter form .btn {
    position: absolute;
    top: 2px;
    left: -1px;
    border-radius: 7px;
    font-family: Vazir;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: #00bfd6;
    color: #fff;
}

footer.main-footer .footer-widgets .newsletter form .btn:focus,
footer.main-footer .footer-widgets .newsletter form .btn:active {
    background-color: #00bfd6;
    box-shadow: none !important;
}

footer.main-footer .footer-widgets .socials {
    margin-top: 30px;
}

footer.main-footer .footer-widgets .socials .footer-social {
    width: 159px;
    height: 45px;
    text-align: center;
    border-radius: 9px;
    background-image: linear-gradient(266deg, #4e60d3, #913baf 35%, #d52d88 68%, #f26d4f);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .11);
    font-weight: 700;
    display: inline-block;
    font-size: 12px;
    font-size: .857rem;
    line-height: 45px;
    margin-bottom: 20px;
}

footer.main-footer .footer-widgets .socials .footer-social a {
    color: #fff;
}

footer.main-footer .footer-widgets .socials .footer-social a i {
    margin-left: 4px;
}

footer.main-footer .info {
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #d7dee0;
}

footer.main-footer .info a {
    padding: 3px;
}

footer.main-footer .info div {
    margin-bottom: 10px;
}

footer.main-footer .info div.row {
    margin-bottom: 0;
}

footer.main-footer .description {
    background: #d7dee0;
    padding: 15px 0 0;
}

footer.main-footer .description .site-description .site-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #5d5959;
}

footer.main-footer .description .site-description p {
    text-align: justify;
    font-size: 12px;
    margin-bottom: 0;
    color: #535353;
}

footer.main-footer .description .symbol {
    text-align: center;
}

footer.main-footer .description .symbol a {
    padding: 15px;
    background: #f0f0f0;
    border: 1px solid #e5e5ea;
    border-radius: 3px;
    margin: 3px;
    display: inline-block;
}

footer.main-footer .footer-partners {
    padding: 0;
    margin: 20px 0 10px;
}

footer.main-footer .footer-partners li {
    list-style: none;
    float: right;
    text-align: center;
    margin-bottom: 10px;
}

footer.main-footer .footer-partners li img {
    width: 131px;
    height: 35px;
}

footer.main-footer .copyright {
    font-size: 12px;
    background: #d7dee0;
    text-align: center;
    padding: 15px 0;
}

footer.main-footer .copyright p {
    margin-bottom: 0;
    padding-top: 15px;
    border-top: 1px solid #b0bec5;
}

/* footer */

/* login---register---welcome Page */
.account-box {
    background: #fff;
    width: 389px;
    margin: 70px auto;
    border: 1px solid #dedede;
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .11);
    position: relative;
}

.account-box .logo {
    width: 156px;
    height: 60px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%);
    text-align: center;
    line-height: 60px;
}

.account-box .logo img {
    height: 38px;
}

.account-box-title {
    border-bottom: 1px solid #ececec;
    color: #656565;
    padding: 17px 40px;
    font-size: 18px;
    font-weight: bold;
}

.account-box-content {
    padding: 0 30px;
}

.account-box-content .account-box-message h3 {
    font-size: 18px;
}

.account-box-content .account-box-message p {
    font-size: 14px;
}

.account-box-content .form-account {
    margin-top: 9px;
    margin-bottom: 9px;
}

.form-account-title {
    color: #656565;
    margin-bottom: 11px;
    letter-spacing: -.6px;
    font-size: 15px;
    line-height: 1.467;
}

.form-account-row {
    margin: 0 -10px 23px;
}

.form-account-row.with-icon .input-field.text-right {
    padding-right: 60px;
}

.form-account-row.with-icon .input-field.text-right::placeholder {
    padding-right: 0;
}

.account-box-content .form-account-row {
    margin-bottom: 9px;
    padding-right: 10px;
    padding-left: 10px;
}

.input-label {
    position: absolute;
    display: inline-block;
    line-height: 22px;
    outline: none;
}

.input-label i:before {
    position: absolute;
    right: 17px;
    top: 12px;
    color: #929292;
    font-size: 26px;
}

.account-box-content .ui-input:before {
    top: 9px;
}

.input-field {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #717171;
    font-size: 14px;
    line-height: 1.571;
    padding: 11px 12px;
    width: 100%;
    letter-spacing: -.8px;
    text-align: left;
    font-family: Vazir;
    outline: none;
}

.input-field::placeholder {
    color: #c8c8c8;
    font-size: 14px;
    text-align: right;
    padding-right: 40px;
}

.ui-input--account-login .ui-input-field,
.ui-input--account-login .dk-selectric-input {
    padding: 16px 52px 15px 12px;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

.ui-input--account-login .ui-input-field,
.ui-input--account-login .dk-selectric-input::placeholder {
    font-size: 16px;
}

.account-box-content .ui-input-field,
.account-box-content .dk-selectric-input {
    direction: ltr;
    color: #777;
}

.account-box-content .ui-input-field,
.account-box-content .dk-selectric-input {
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: Vazir;
}

.form-account-title--inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-account-link {
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-link-border {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    color: #1ca2bd;
    padding: 0;
    line-height: 2;
    font-size: 12px;
}

.btn-link-border:hover {
    color: #1ca2bd;
}

.btn-link-border:after {
    left: 0;
    right: 0;
    top: 50%;
    margin-top: .85em;
    content: "";
    position: absolute;
    border-bottom: 1px dashed #1ca2bd;
}

.account-box-content .form-account-link {
    margin: 0;
    float: left;
}

.form-account-submit button {
    width: 100%;
}

.form-account .btn-login,
.form-account .btn-password-change,
.form-account .btn-user-add,
.form-account .btn-user-lock {
    width: 100%;
    text-align: center;
}

.form-account-agree {
    padding-right: 30px;
    position: relative;
    font-size: 13px;
    font-size: .929rem;
    line-height: 2.77;
    margin: -7px 0 15px;
}

.account-box-content .form-account-agree {
    margin: -3px 0 7px;
    font-size: 12px;
    font-size: .857rem;
    line-height: 2.5;
    color: #5c5c5c;
}

.account-box-content .form-account-agree label {
    cursor: pointer;
}

.checkbox-form {
    width: 19px;
    height: 18px;
    display: inline-block;
    position: relative;
}

.checkbox-primary {
    width: 22px;
    height: 21px;
}

.form-account-agree .checkbox-form {
    position: absolute;
    right: 0;
    top: 8px;
}

.checkbox-form input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}

.checkbox-check {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d8d8d8;
}

.checkbox-primary .checkbox-check {
    border-radius: 5px;
    border: 1px solid #b7b7b7;
}

.checkbox-form .input-checkbox:checked+.checkbox-check,
.checkbox-form input[type=checkbox]:checked+.checkbox-check {
    background: #00bfd6;
    border: 1px solid #1fa4b3;
}

.checkbox-form .input-checkbox:checked+.checkbox-check:before,
.checkbox-form input[type=checkbox]:checked+.checkbox-check:before {
    content: "\ea22";
    font: normal normal normal 32px/1 'Nucleo Outline';
    position: absolute;
    left: 2px;
    top: 2px;
    color: #fff;
    font-size: 15px;
}

.account-box-footer {
    border-top: 1px solid rgba(0, 190, 214, .13);
    padding: 25px 40px 28px;
    background: rgba(0, 190, 214, .04);
    text-align: center;
    font-size: 15px;
    line-height: 1.467;
}

.account-box-footer {
    line-height: 1;
    padding-top: 23px;
    padding-bottom: 23px;
    background: rgba(93, 214, 0, .06);
    border-top: 1px solid #d7e6bb;
}

.mini-footer {
    margin-top: 10px;
    border-top: 1px solid #e0e1e2;
}

.mini-footer ul {
    text-align: center;
    margin-bottom: 0;
    margin-top: 15px;
}

.mini-footer ul li {
    display: inline-block;
}

.mini-footer ul li a {
    padding-right: 7px;
    padding-left: 7px;
    color: #7f7f7f;
}

.mini-footer .copyright-bar {
    padding: 15px 0;
    background: 0 0;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
}

.mini-footer .copyright-bar p {
    margin-bottom: 0;
}

.message-light {
    font-size: 14px;
    line-height: 2;
    padding: 15px 20px;
    position: relative;
    border-radius: 5px;
    line-height: 22px;
    margin: 15px 25px;
    background-color: #fffde4;
    border: 1px solid #f6e8a1;
    color: #a37731;
}

.account-box-message {
    margin: 20px 0;
    text-align: center;
}

.account-box-message-icon {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
    content: "\ea23";
    font: normal normal normal 32px/1 'Nucleo Outline';
    display: inline-block;
    vertical-align: top;
    background: #ebffde 50% 50% no-repeat;
}

.account-box-message-icon::before {
    font-size: 65px;
    line-height: 140px;
    color: #00bfd6;
}

.account-box-message h3 {
    margin-bottom: 20px;
    color: #444;
    font-size: 19px;
    font-size: 1.357rem;
    line-height: 1.158;
}

.account-box-message p {
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 2;
    color: #727272;
    margin-bottom: 10px;
}

.account-box-message-links {
    list-style: none;
    padding: 0;
}

.account-box-message-links li {
    margin: 7px 0 10px;
}

.account-box-message-links li a {
    font-size: 18px;
}

.account-box-message-links .btn-link-border {
    font-size: 15px;
    line-height: 1.467;
}

.account-box-message-links .btn-link-border:hover {
    color: #1ca2bd;
}

.checkout-page {
    width: 100%;
}

.checkout-title {
    border-bottom: 1px solid #ececec;
    color: #656565;
    padding: 17px 0;
    font-size: 18px;
    font-weight: bold;
}

.checkout-page .input-field::placeholder {
    color: #c8c8c8;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
}

/* login---register---welcome---checkout Page */

/* Search Page */
.sidebar-page .box {
    background-color: #fff;
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .11);
    border: 1px solid #dedede;
    margin: 0 0 10px;
}

.sidebar-page .box .box-header {
    position: relative;
    color: #535353;
    letter-spacing: .2px;
    font-weight: 700;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    padding: 8px 16px 10px 15px;
    border-bottom: 1px solid #f2f2f2;
    margin-right: 6px;
    margin-left: 6px;
}

.box-content {
    padding: 10px 13px 8px 12px;
}

.ui-input {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 22px;
}


.ui-input-field {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #717171;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    padding: 11px 12px;
    width: 100%;
    letter-spacing: -.8px;
    outline: none;
}

.box .bootstrap-switch {
    top: 2px;
}

.box .box-toggle {
    cursor: pointer;
}

.box .box-toggle i {
    float: left;
    margin-top: 4px;
}

.box .filter-option {
    margin: 10px;
}

.box .filter-option .checkbox label,
.radio label {
    padding-right: 35px;
    padding-left: 0;
}

.box .filter-option .checkbox label::before,
.checkbox label::after {
    right: 0;
    left: auto;
}

.listing {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
    line-height: 22px;
    position: relative;
}

.listing-counter {
    position: absolute;
    top: -27px;
    left: 0;
    color: #b7b7b7;
    font-size: 12px;
    font-size: .857rem;
    line-height: 21px;
}


.label-check {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #ff4242;
    color: #fff;
    border-radius: 0 25px 25px 0;
    padding: 1px 5px;
    font-size: 12px;
}

.pager {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10.5px -10px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pager-items,
.pager-tabs {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    list-style: none;
}

.pager-items li,
.pager-tabs li {
    display: inline-block;
}

.pager-item,
.pager-next,
.pager-prev {
    display: inline-block;
    width: 35px;
    height: 34px;
    text-align: center;
    vertical-align: top;
}

.pager-item {
    border-radius: 8px;
    color: #535353;
    font-size: 18px;
    font-size: 1.286rem;
    line-height: 34px;
    margin: 0 3px;
}

.pager-item.is-active {
    background-color: #00bfd6;
    border: 1px solid #00bfd6;
    color: #fff;
}

.pager-items--partition {
    display: inline-block;
    vertical-align: bottom;
    width: 2px;
    height: 34px;
    border: 1px solid #e8e8e8;
    margin-left: 30px;
    margin-right: 30px;
}

.pager-next,
.pager-prev {
    font-size: 23px;
    font-size: 1.643rem;
    line-height: 34px;
    font-family: LucidaGrande;
    letter-spacing: .3px;
    color: #6e6e6e;
}

.pager-next:before,
.pager-prev:before {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-top: 3px;
}

.pager-next:before {
    content: "\00bb";
}

/* Search Page */

/* 404 Page */

.page-404 {
    padding: 68px 0;
    text-align: center;
    line-height: 22px;
    float: right;
    width: 100%;
}

.page-404-title h1 {
    font-size: 28px;
}

.page-404-actions {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: auto;
}

.page-404-action {
    border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    min-width: 161px;
    margin: 10px 19.5px 46px;
    text-decoration: none;
}

.page-404-action--primary {
    background-color: #6ab946;
    border: 1px solid #4aa42e;
}

.page-404-action:not(.disabled):not(.is-inactive):not([disabled]) {
    position: relative;
    overflow: hidden;
}

.page-404-action:not(.disabled):not(.is-inactive):not([disabled]):before {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 200%;
    height: 200%;
    position: absolute;
    right: -50%;
    top: -50%;
    background: hsla(0, 0%, 100%, .21);
    content: "";
    opacity: 0;
}

.page-404-action:not(.disabled):not(.is-inactive):not([disabled]):hover:before {
    opacity: 1;
}

.page-404-action:hover {
    color: #fff;
}

.page-404-image {
    width: 90%;
    max-width: 677px;
    margin: auto;
}

.page-404-image img {
    width: 100%;
}

/* 404 Page */

/* Cart Page */

.cart-empty {
    margin: 27px 0 30px;
    background: #fff;
    -webkit-box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    border: 1px solid #e7e7e7;
    padding: 30px;
    text-align: center;
    line-height: 22px;
}

.cart-empty-icon {
    background: #f4f4f4;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    width: 138px;
    height: 140px;
}

.cart-empty-icon {
    width: 167px;
    height: 170px;
    line-height: 220px;
}

.cart-empty-icon i {
    font-size: 60px;
    color: #a8a8a8;
}

.cart-empty-title {
    font-size: 30px;
    margin: 25px 0 60px;
    color: #858585;
}

.cart-empty a.dk-btn {
    font-size: 14px;
    padding: 17px 60px;
}

.cart-empty-url {
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 1.467;
    letter-spacing: -.6px;
    color: #656565;
    margin-top: 40px;
}

.cart-empty-url a {
    text-decoration: none;
    color: #009ec9;
    border-bottom: 1px dashed #009ec9;
}

.cart-page-title {
    margin: 26px 0 20px;
    padding: 0 30px;
    position: relative;
}

.cart-page-title h1 {
    color: inherit;
    font-size: 18px;
    line-height: 31px;
    font-weight: 700;
    font-family: Vazir-B, serif ;
}

.checkout-content {
    margin: 0 0 10px;
    -webkit-box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    border: 1px solid #e7e7e7;
    background: #fff;
}

.checkout-items {
    padding: 0;
    list-style: none;
}

.checkout-item {
    border-top: 1px solid #eaeaea;
    text-align: center;
    overflow: hidden;
}

.checkout-item:first-child {
    border-top: none;
}

.checkout-item td,
.checkout-item th {
    border: 0;
}

.checkout-item td {
    position: relative;
    vertical-align: middle;
}

.checkout-btn-remove {
    position: absolute;
    width: 26px;
    height: 26px;
    text-align: center;
    border: none;
    border-radius: 13px;
    color: #999;
    background: #f5f5f5;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.checkout-btn-remove:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 9px;
    vertical-align: top;
    margin-top: 3px;
    display: inline-block;
}

.checkout-title {
    font-size: 15px;
    line-height: 1.88;
    margin-bottom: 15px;
}

.cart-page .checkout-aside {
    margin-top: 77px;
    margin-bottom: 83px;
}

.checkout-summary {
    background-color: #fff;
    -webkit-box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    border: 1px solid #e7e7e7;
    line-height: 22px;
}

.checkout-summary-summary {
    list-style: none;
    padding: 15px 10px;
    margin: 0;
}

.checkout-summary-summary li {
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 0;
}

.checkout-summary-summary li:last-child {
    padding-bottom: 0;
}

.checkout-summary-summary li span:last-child {
    margin-right: auto;
}

.wiki-holder {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.checkout-summary-summary .wiki {
    line-height: 32px;
}

.checkout-summary-summary li span:last-child {
    margin-right: auto;
}

.checkout-summary-summary .wiki:first-of-type {
    font-size: 18px;
    font-size: 1.286rem;
    line-height: 31px;
    letter-spacing: -.4;
    text-align: right;
    direction: rtl;
    color: #777676;
}

.checkout-summary-summary .wiki:last-of-type {
    margin-right: 5px;
}

.wiki-sign {
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    width: 22px;
    height: 100%;
    display: block;
    margin-top: -4px;
}

.wiki-sign:after {
    content: "\ea04";
    font-family: 'Nucleo Outline';
    color: #ababab;
    font-size: 20px;
    line-height: 1.048;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wiki-container {
    position: absolute;
    top: calc(100% + 17px);
    right: -10px;
    padding: 11px 11px 21px;
    min-width: 273px;
    max-width: 394px;
    -webkit-box-shadow: 0 -6px 12px 0 hsla(0, 0%, 71%, .3);
    box-shadow: 0 -6px 12px 0 hsla(0, 0%, 71%, .3);
    background-color: #fff;
    border: 1px solid #b8b8b8;
    z-index: 121;
    display: none;
}

.wiki-container.is-right {
    left: -10px;
    right: unset;
}

.wiki-arrow {
    position: absolute;
    top: -8px;
    right: 16px;
    width: 13.7px;
    height: 13.7px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-color: #fff;
    -webkit-box-shadow: inset -1px -1px 0 0 #b8b8b8;
    box-shadow: inset -1px -1px 0 0 #b8b8b8;
}

.wiki-container.is-right .wiki-arrow {
    left: 14px;
    right: unset;
}

.wiki-text {
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
    font-weight: 400;
    letter-spacing: -.3px;
    text-align: right;
    direction: rtl;
    color: #777;
}

.checkout-summary-devider {
    padding: 0 10px;
}

.checkout-summary-devider div {
    width: 100%;
    height: 4px;
    border: 1px solid #e6e6e6;
    border-right: none;
    border-left: none;
}

.checkout-summary-content {
    padding: 15px;
    color: #a0a0a0;
    font-size: 11px;
    font-size: .786rem;
    line-height: 2;
}

.checkout-summary-content .parent-btn {
    text-align: center;
}

.checkout-summary-content .parent-btn .dk-btn {
    width: 100%;
}

.checkout-summary-price-title {
    text-align: center;
    color: #676767;
    font-size: 18px;
    font-size: 1.286rem;
    line-height: normal;
}

.checkout-summary-price-value {
    text-align: center;
    font-size: 15px;
    font-size: 1.071rem;
    line-height: normal;
    color: #fb3449;
}

.checkout-summary-price-value-amount {
    font-size: 20px;
    font-size: 1.429rem;
    line-height: 2;
    font-weight: 700;
}

.wiki-holder {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.checkout-summary-content .wiki {
    line-height: 32px;
}

.checkout-summary-content .wiki:last-of-type {
    margin-right: 5px;
}

/* Cart Page */

/* Single-product Page */


/* Single-product Page */

/* Profile-User Page */

.profile-box {
    margin-bottom: 21px;
    background-color: #fff;
    -webkit-box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    border: 1px solid #dedede;
}

.profile-box-header {
    position: relative;
    background-color: #00bfd6;
    height: 47px;
}

.profile-box-avatar img {
    width: 54px;
    height: 54px;
    background: #fff;
    background-size: contain;
    -webkit-box-shadow: 0 0 0 4px hsla(0, 0%, 100%, .61);
    box-shadow: 0 0 0 4px hsla(0, 0%, 100%, .61);
    position: absolute;
    left: 50%;
    top: 12px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50%;
}

.profile-box-btn-edit {
    width: 16px;
    height: 16px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 60%;
    margin-left: -52px;
    background: #fff;
    outline: none;
    cursor: pointer;
}

.profile-box-btn-edit i {
    float: right;
    font-size: 11px;
    position: absolute;
    right: 1px;
    top: 2px;
    color: #A8A8A8;
}

.profile-box-username {
    padding: 23px 20px 19px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -.5px;
}

.profile-box-tabs i {
    display: block;
}

.modal-width-custom .modal-dialog {
    max-width: 600px;
}

ul.profile-avatars li {
    display: inline-block;
    margin: 0 4px;
}

.profile-avatars-item {
    width: 112px;
    height: 112px;
    background: 50% 50% no-repeat;
    background-size: cover;
    display: block;
    margin-bottom: 30px;
    cursor: pointer;
}

main.profile-user-page .profile-menu {
    background-color: #fff;
    -webkit-box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    border: 1px solid #dedede;
    margin-bottom: 21px;
}

main.profile-user-page .profile-menu-header {
    padding: 18px 39px 18px 0;
    border-bottom: 1px solid #f3f3f3;
    font-weight: 700;
    letter-spacing: .2px;
    color: #535353;
    font-size: .929rem;
    line-height: 1.692;
}

main.profile-user-page .profile-menu-items {
    list-style: none;
    font-size: 14px;
    line-height: 1.571;
    font-weight: 500;
    letter-spacing: -.3px;
}

main.profile-user-page .profile-menu-items li a {
    position: relative;
    padding: 12px 53px 12px 0;
    color: #5b5b5b;
    line-height: 50px;
}

main.profile-user-page .profile-menu-items li a i {
    position: absolute;
    right: 20px;
    top: 18px;
}

main.profile-user-page h1.title-tab-content {
    color: #858585;
    margin: 10px 0 15px;
    font-size: 17px;
    font-family: Vazir-B, serif ;
}

main.profile-user-page .content-section {
    background-color: #fff;
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .1);
    border: 1px solid #dedede;
    margin-bottom: 23px;
    padding: 10px 20px;
}

main.profile-user-page .content-section p {
    font-size: 18px;
    line-height: 30px;
    color: #939393;
}

main.profile-user-page .content-section p span.title {
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 4px;
    color: #bababa;
}

main.profile-user-page .content-section form input::placeholder {
    padding-right: 5px;
}

main.profile-user-page .content-section form button.btn-default {
    font-family: Vazir;
}

main.profile-user-page .profile-recent-fav-row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    border-bottom: 1px solid #f1f1f1;
}

main.profile-user-page .profile-recent-fav-col {
    width: 100%;
    min-height: 1px;
    padding: 4px 0;
}

main.profile-user-page .profile-recent-fav-col,
main.profile-user-page .profile-recent-fav-col-thumb {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

main.profile-user-page .profile-recent-fav-col-thumb {
    -ms-flex: 0 0 15%;
    -webkit-box-flex: 0;
    flex: 0 0 15%;
    max-width: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

main.profile-user-page .profile-recent-fav-col-thumb img {
    overflow: hidden;
}

main.profile-user-page .profile-recent-fav-col-thumb img {
    max-width: 80%;
    max-height: 80%;
}

main.profile-user-page .profile-recent-fav-col-title {
    -ms-flex: 0 0 70%;
    -webkit-box-flex: 0;
    flex: 0 0 70%;
    max-width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

main.profile-user-page .profile-recent-fav-name {
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
    margin-bottom: 5px;
}

main.profile-user-page .profile-recent-fav-price {
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
    color: #fb3449;
}

main.profile-user-page .profile-recent-fav-col-actions {
    -ms-flex: 0 0 15%;
    -webkit-box-flex: 0;
    flex: 0 0 15%;
    max-width: 15%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 15px;
}

main.profile-user-page .btn-action {
    width: 33px;
    height: 28px;
    border-radius: 8px;
    background-color: #00bfd6;
    border: 1px solid #41a7b4;
    outline: none;
    cursor: pointer;
}

main.profile-user-page .btn-action-remove {
    background-color: #fff;
    border: 1px solid #c5c5c5;
}

main.profile-user-page .btn-action-remove i {
    font-size: 14px;
    color: #929292;
}

main.profile-user-page .icon-empty i {
    font-size: 154px;
    margin-bottom: 30px;
    display: block;
    color: #dadada;
}

main.profile-user-page h1.text-empty {
    font-size: 26px;
    color: #dadada;
    font-family: Vazir-B, serif ;
}

main.profile-user-page .profile-return-request-form p {
    margin-right: 20px;
    margin-bottom: 11px;
    color: #737373;
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 1.467;
}

main.profile-user-page .profile-return-request-form-row .profile-return-request-form-field {
    float: right;
    width: 100%;
}

main.profile-user-page .profile-return-request-form-row .btn-primary {
    font-size: 15px;
    border-radius: 8px;
    background-color: #00bfd6;
    border: 1px solid #148693;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    font-family: inherit;
}

main.profile-user-page .content-section .view-product {
    font-size: 15px;
    border-radius: 8px;
    background-color: #00bfd6;
    border: 1px solid #148693;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    font-family: inherit;
}

main.profile-user-page .responsive-profile-menu {
    display: none;
}

main.profile-user-page .responsive-profile-menu .dropdown-toggle::after {
    display: none;
}

main.profile-user-page .responsive-profile-menu .dropdown-toggle i {
    float: right;
    margin: 3px 0 0 10px;
}

main.profile-user-page .responsive-profile-menu .dropdown-menu a.active-menu,
main.profile-user-page .responsive-profile-menu .dropdown-menu a:active {
    background-color: #f6ffff;
    color: #009ec9;
}

main.profile-user-page .responsive-profile-menu .dropdown-menu a i {
    float: right;
    margin: 4px 0 0 7px;
}

.w-180px {
    width: 180px !important;
}
.w-160px {
    width: 160px !important;
}
.w-140px {
    width: 140px !important;
}
.w-110px {
    width: 110px !important;
}
.w-100px {
    width: 100px !important;
}
.w-90px {
    width: 90px !important;
}
.w-70px {
    width: 70px !important;
}
.w-50px {
    width: 50px !important;
}
.h3-sm-w {
    font-size: 1.75rem;
}
.text-size-8rem {
    font-size: 8rem !important;
}
.vertical-text {
    writing-mode: vertical-rl !important;
}
.rotate-90 {
    transform: rotate(90deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.-rotate-90 {
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
